@import '../../../scss/utils/variables.scss';

.controls {
  height: 50px;
  display: flex;

  &__reload-btn {
    width: 50px;
    margin-right: 20px;
  }

  &__lang-switcher {
    width: 70px;
    margin-right: 20px;
  }

  &__temp-toggler {
    width: 70px;
    margin-right: 20px;
  }

  @media (max-width: $search-breakpoint) {
    grid-column: 1 / 3;
  }
}