.weather {
  &__icon {
    max-width: 200px;
  }

  &__forecast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  &__temperature {
    grid-row: 1 / 3;
    align-self: center;
    font-size: 136px;
  }

  &__details {}
}