.picture-controls {
  box-shadow: 0 2px 5px -2px;

  &__label {
    display: block;
    padding: 10px 30px;
    cursor: pointer;

    .picture-controls__option:not(:last-child) & {
      border-bottom: 1px solid black;
    }

    &--active {
      background-color: rgba(#000, 0.2);
    }
  }

  &__clear-btn {
    width: 100%;
    padding: 10px 30px;
    background-color: transparent;
    border: 0;
    text-align: left;
  }
}
