.working-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__canvas {
    width: 512px;
    height: 512px;
    border: 2px solid black;
    image-rendering: pixelated;
  }

  & img {
    image-rendering: pixelated;
    border: 2px solid black;
    width: 512px;
    height: 512px;
  }
}
